<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>
     <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="summernote/dist/summernote-bs4.css">
    <link rel="stylesheet" href="owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owl.carousel/dist/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/style.css">
    <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/components.css">
</head>
<body>
    <div id="app">
        <div class="main-wrapper">
          <%- include('components/navbar.ejs') %>
          <%- include('components/sidebar.ejs') %>
          <!-- Main Content -->
          <div class="main-content">
            <section class="section">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="card card-statistic-2">
                    <div class="card-icon shadow-primary bg-primary">
                      <i class="fas fa-archive"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Total Applications</h4>
                      </div>
                      <div class="card-body">
                        <%= count_all %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="card card-statistic-2">
                    <div class="card-icon shadow-primary bg-primary">
                      <i class="fa fa-user text-white"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Total Users</h4>
                      </div>
                      <div class="card-body">
                        <%= count_user %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="card card-statistic-2">
                    <div class="card-icon shadow-primary bg-primary">
                      <i class="fa fa-certificate text-white"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Certificate</h4>
                      </div>
                      <div class="card-body">
                        <%= count_cert %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="card card-statistic-2">
                    <div class="card-icon shadow-primary bg-primary">
                      <i class="fa fa-certificate text-white"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Clearance</h4>
                      </div>
                      <div class="card-body">
                        <%= count_clear %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Clearance Applications</h4>
                      <div class="card-header-action">
                        <a href="/clearance-application" class="btn btn-primary">View More <i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="table-responsive table-invoice">
                        <table class="table table-striped">
                          <tr>
                            <th>Application ID</th>
                            <th>Project Title</th>
                            <th>Project Owner</th>
                            <th>Status</th>
                            <th>Date Applied</th>
                          </tr>
                          <% if (clearances.length == 0) {%>
                            <tr>
                              <td class="text-center" colspan="5">Currently No Applications</td>
                            </tr>
                          <% } else{ %>

                          <% clearances.forEach(clearance => { %>
                            <tr>
                              <td><a href="#" style="text-decoration: none;">
                                <b>APPLICATION-<%= clearance.application_number  %></b>
                              </a></td>
                              <td class="font-weight-600"><%= clearance.project_title  %></td>
                              <td class="font-weight-600"><%= clearance.project_owner  %></td>
                              <td><div class="badge badge-<% if(clearance.application_status == 'Approved'){ %>success<% }else{ %>warning<%}%>"><%= clearance.application_status  %></div></td>
                              <td><%= clearance.date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %></td>
                            </tr>
                          <% }); %>
                          <% } %>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Certificate Applications</h4>
                      <div class="card-header-action">
                        <a href="/certificate-application" class="btn btn-primary">View More <i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="table-responsive table-invoice">
                        <table class="table table-striped">
                          <tr>
                            <th>Application ID</th>
                            <th>Project Owner</th>
                            <th>Establishment</th>
                            <th>Status</th>
                            <th>Date Applied</th>
                          </tr>

                          <% if (certificates.length == 0) {%>
                            <tr>
                              <td class="text-center" colspan="5">Currently No Applications</td>
                            </tr>
                          <% } else{ %>

                          <% certificates.forEach(certificate => { %>
                            <tr>
                              <td><a href="#" style="text-decoration: none;"><b>APPLICATION-<%= certificate.application_number  %></b></a></td>
                              <td class="font-weight-600"><%= certificate.owner_name  %></td>
                              <td class="font-weight-600"><%= certificate.establishment_name  %></td>
                              <td><div class="badge badge-<% if(certificate.application_status == 'Approved'){ %>success<% }else{ %>warning<%}%>"><%= certificate.application_status  %></div></td>
                              <td><%= certificate.date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %></td>
                            </tr>
                          <% }); %>
                          <% } %>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <%- include('components/footer.ejs') %>
        </div>
      </div>

    <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="js/stisla.js"></script>

  <!-- JS Libraies -->
  <script src="jquery-sparkline/jquery.sparkline.min.js"></script>
  <script src="chart.js/dist/Chart.min.js"></script>
  <script src="owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="summernote/dist/summernote-bs4.js"></script>
  <script src="chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- Template JS File -->
  <script src="https://permit-matalam.onrender.com/js/scripts.js"></script>
  <script src="https://permit-matalam.onrender.com/js/custom.js"></script>

  <!-- Page Specific JS File -->
  <script src="https://permit-matalam.onrender.com/js/page/index.js"></script>
</body>
</html>