<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Certificate &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="http://localhost:8080/css/style.css">
  <link rel="stylesheet" href="http://localhost:8080/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('components/navbar.ejs') %>
      <%- include('components/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Application Certificate</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Applications Certificates</h4>
                    <div class="card-header-action">
                      <a href="/add-certificate-application/" class="btn btn-primary">Add New Certificate Application <i class="fas fa-plus"></i></a>
                      <a href="/generate/certificate" target="_blank" class="btn btn-primary">Report <i class="fas fa-print"></i></a>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive table-invoice">
                      <table class="table table-striped">
                        <tr>
                          <th>Application ID</th>
                          <th>Project Owner</th>
                          <th>Establishment</th>
                          <th>Contact Number</th>
                          <th>Status</th>
                          <th>Date Applied</th>
                          <th>Action</th>
                        </tr>

                        <% if (applications.length == 0) {%>
                          <tr>
                            <td class="text-center" colspan="7">Currently No Applications</td>
                          </tr>
                        <% } else{ %>
                        <% applications.forEach(application => { %>
                          <tr>
                            <td><a href="#"><%= application.application_number %></a></td>
                            <td class="font-weight-600"><%= application.owner_name %></td>
                            <td class="font-weight-600"><%= application.establishment_name %></td>
                            <td class="font-weight-600"><%= application.contact_number %></td>
                            <td><div class="badge badge-<% if(application.application_status == 'Approved'){ %>success<% }else{ %>warning<%}%>"><%= application.application_status %></div></td>
                            <td><%= application.date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %></td>
                            <td>
                              <div class="btn-group">
                                <!-- <button type="button" class="btn btn-primary">Settings</button> -->
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/edit-certificate-application/<%= application._id %>">Edit Application Details</a>

                                  <% if(application.application_status == 'Pending'){ %>
                                    <a class="dropdown-item" id="approveCert" data-id="<%= application._id  %>" href="#">Approve Application</a>
                                  <% } %>

                                  <a class="dropdown-item" href="/review-certificate-application/<%= application._id  %>">Review Document</a>
                                  <a class="dropdown-item" id="removeCert" data-id="<%= application._id %>" href="#">Remove Application</a>
                                </div>
                            </td>
                          </tr>
                        <% }); %>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('components/footer.ejs') %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="http://localhost:8080/js/stisla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="http://localhost:8080/js/scripts.js"></script>
  <script src="http://localhost:8080/js/custom.js"></script>
  <script>
    $(document).on("click","#approveCert",function(){


      const id = $(this).data('id')   

      $.ajax({
        url: 'http://localhost:8080/approve-certificate-application/',
        data: {
          id: id,
        },
        dataType: 'json',
        method: 'POST',
        success: function(response){
          if(response.message == 'application_approved'){
            
            Swal.fire({
              title: 'Success!',
              text: 'You have successfully approved application',
              icon: 'success',
              confirmButtonText: 'Confirm'
            })

            setInterval(function(){
              window.location.href = '/certificate-application'
            },3000);

          }else if(response.message == 'cannot_approved_application'){
            Swal.fire({
              title: 'Warning!',
              text: 'Cannot update the application.',
              icon: 'warning',
              confirmButtonText: 'Confirm'
            });

          }else{
            Swal.fire({
              title: 'Error!',
              text: 'Something incorrect configuration on the system.',
              icon: 'error',
              confirmButtonText: 'Confirm'
            })
          }

        }
      });
    });


    $(document).on("click","#removeCert",function(){


    const id = $(this).data('id')   
    
    Swal.fire({
        title: 'Confirmation',
        text: 'Are you sure you want to remove this certification application?',
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: 'Confirm',
        icon: 'info',
        denyButtonText: `Deny`,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: 'http://localhost:8080/remove-certificate-application/',
            data: {
              id: id,
            },
            dataType: 'json',
            method: 'POST',
            success: function(response){
              if(response.message == 'application_deleted'){
                
                Swal.fire({
                  title: 'Success!',
                  text: 'You have successfully removed the application',
                  icon: 'success',
                  confirmButtonText: 'Confirm'
                })

                setInterval(function(){
                  window.location.href = '/certificate-application'
                },3000);

              }else if(response.message == 'application_not_found'){
                Swal.fire({
                  title: 'Warning!',
                  text: 'Cannot update the application, record not found or incorrect ID.',
                  icon: 'warning',
                  confirmButtonText: 'Confirm'
                });

              }else{
                Swal.fire({
                  title: 'Error!',
                  text: 'Something incorrect configuration on the system.',
                  icon: 'error',
                  confirmButtonText: 'Confirm'
                })
              }

            }
          });
          

        } else if (result.isDenied) {
          Swal.fire('Horrayy', 'No operation has been made', 'success')
        }
      });

    
    });
  </script>
  <!-- Page Specific JS File -->
</body>
</html>
