<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Users &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="http://localhost:8080/css/style.css">
  <link rel="stylesheet" href="http://localhost:8080/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('components/navbar.ejs') %>
      <%- include('components/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Members List</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4>User</h4>
                    <div class="card-header-action">
                      <a href="/add-user/" class="btn btn-primary btn-md">Add New Member <i class="fas fa-plus"></i></a>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive table-invoice">
                      <table class="table table-striped">
                        <tr>
                          <th>Member ID</th>
                          <th>Member Fullname</th>
                          <th>Province</th>
                          <th>Postal Code</th>
                          <th>Municipality</th>
                          <th>Barangay</th>
                          <th>Date Joined</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>

                        <% if (users_obj.length == 0) {%>
                          <tr>
                            <td class="text-center" colspan="9">Currently No Members</td>
                          </tr>
                        <% } else{ %>

                        <% var i = 1; %>
                        <% users_obj.forEach(user_obj => { %>
                          <tr>
                            <td><a href="#" style="font-weight: bold; text-decoration: none;">MEMBER-<%= i++ %></a></td>
                            <td class="font-weight-600"><%= user_obj.firstName %> <%= user_obj.lastName %></td>
                            <td><%= user_obj.province %></td>
                            <td><%= user_obj.postalCode %></td>
                            <td><%= user_obj.municipality %></td>
                            <td><%= user_obj.barangay %></td>
                            <td><%= user_obj.user_date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %></td>
                            <td><div class="badge badge-<% if (user_obj.userStatus === 'Inactive') { %>warning<% } else { %>success<% } %>"><%= user_obj.userStatus %></div></td>

                            <td>
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/view-user/<%= user_obj._id %>">Member's Detail</a>
                                  <a class="dropdown-item" href="/edit-user/<%= user_obj._id %>">Edit Member's Details</a>

                                  <% if (user_obj.userStatus === 'Inactive') { %>
                                    <a class="dropdown-item" id="activateMember" data-id="<%= user_obj._id %>" href="#">Activate Member</a>

                                  <% } else { %>
                                    <a class="dropdown-item" href="#">Member Activated</a>

                                  <% } %>
                                  <!-- <a class="dropdown-item" id="deleteMember" data-id="<%= user_obj._id %>" href="#">Remove Member</a> -->
                                </div>
                            </td>
                          </tr>
                        <% }); %>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('components/footer.ejs') %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="http://localhost:8080/js/stisla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="http://localhost:8080/js/scripts.js"></script>
  <script src="http://localhost:8080/js/custom.js"></script>
  <script>
     $(document).on('click','#deleteMember',function(e){
      e.preventDefault()
      const id = $(this).data('id')
      $.ajax({
        url: 'http://localhost:8080/remove/',
        method: 'POST',
        data: {
          'id': id, 
        },
        success: function(response){
          if(response.message == 'user_deleted'){
              Swal.fire({
                title: 'Horayyy!',
                text: 'You have successfully delete a user.',
                icon: 'success',
                confirmButtonText: 'Ok'
              });

            setTimeout(function(){
              window.location.href = 'http://localhost:8080/users'
            },3000)

          }else if(response.message == 'user_not_found'){

            Swal.fire({
                title: 'Sorry!',
                text: 'User cannot be found, check your data.',
                icon: 'warning',
                confirmButtonText: 'Ok'
              });

            return;

          }
        }
      });
    });

    $(document).on('click','#activateMember',function(e){
      e.preventDefault()
      const id = $(this).data('id')
      $.ajax({
        url: 'http://localhost:8080/activate/',
        method: 'POST',
        data: {
          'id': id, 
        },
        success: function(response){
          if(response.message == 'user_activated'){
              Swal.fire({
                title: 'Horayyy!',
                text: 'You have successfully activated a user.',
                icon: 'success',
                confirmButtonText: 'Ok'
              });

            setTimeout(function(){
              window.location.href = 'http://localhost:8080/users'
            },3000)

          }else if(response.message == 'user_already_activated'){

            Swal.fire({
                title: 'Sorry!',
                text: 'User already activated, check your data.',
                icon: 'warning',
                confirmButtonText: 'Ok'
              });

            return;

          }
        }
      });
    });
  </script>
  <!-- Page Specific JS File -->
</body>
</html>
