<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report <%= type %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif !important;
    }

    table{
        border-collapse: collapse;
    }

    table tr th{
        background-color: #800000;
        color: #fff;
        text-align: center;
    }

    table tr td{
        text-align: center;
    }

    table, th, td {
      border:0.6px solid black;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo .dilg-logo img{
        width: 100px;
        height: 100px;
    }


    .logo .bfp-logo img{
        width: 100px;
        height: 100px;
    }

    .logo .header span{
        position: absolute;
        top: 0;
    }
</style>
<body>
    <div style="position: absolute; right: 0; top: 0; margin-right: 25px; margin-top: 25px;" id="utility">
        <a href="/certificate-application-form" id="back" style="margin-bottom: 5px; background-color: #800000; color: #fff; padding: 10px; border: none; cursor: pointer; border-radius: 5px; text-decoration: none; font-size: 14px;">Back</a>
        <button type="button" id="report" style="margin-bottom: 5px; background-color: #800000; color: #fff; padding: 10px; border: none; cursor: pointer; border-radius: 5px;">Download</button>
    </div>

    <div id="main">
        <div class="logo">
            <div class="dilg-logo">
                <img src="http://localhost:8080/img/dilg.png" alt="">
            </div>
            <div style="text-align: center; display: block; margin-top: 15px;">
                <span class="header1">Republic of the Philippines</span><br>
                <span style="font-weight: bold;">Department of the Interior and Local Government</span><br>
                <span style="font-weight: bolder; color: rgb(10, 59, 144);">BUREAU OF FIRE PROTECTION</span><br>
                <span style="font-weight: bold;">MATALAM FIRE STATION — COTABATO</span><br>
                <span class="header5">Brgy. Poblacion, Matalam, Cotabato</span><br>
                <span class="header6">Applicants <% if(type == "certificate"){ %> Certificate <% }else{ %>Clearance<% } %> Report</span><br>
                <span class="header6">Hotline No.: 0919-260-7516</span><br>
                <span style="text-decoration: underline 1px;">Email: bfp12.matalam@gmail.com</span><br>
            </div>
            <div class="bfp-logo">
                <img src="http://localhost:8080/img/bfp.png" alt="">
            </div>
        </div>
        <% if(type == "clearance") { %>
        <table style="width: 100%; margin-top: 30px;">
            <tr>
              <th>Project Title</th>
              <th>Project Owner</th>
              <th>Contact Number</th>
              <th>Contructor</th>
              <th>Representative</th>
              <th>Date Applied</th>
            </tr>
            <% if(clearances.length > 0){ %> 
                <% for(var i = 0; i < clearances.length; i++) { %>       
                <tr>
                    <td><%= clearances[i].project_title %></td>
                    <td><%= clearances[i].project_owner %></td>
                    <td><%= clearances[i].contact_number %></td>
                    <td><%= clearances[i].contructor %></td>
                    <td><%= clearances[i].representative %></td>
                    <td>
                        <%= clearances[i].date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %>
                    </td> 
                </tr>
                <% } %>
            <% }else{ %>
                <tr>
                    <td colspan="6">No available data</td>
                </tr>
            <% } %>
        </table>
        <% }else{ %>
        <table style="width: 100%; margin-top: 30px;">
            <tr>
                <th>Owner Name</th>
                <th>Establishment Name</th>
                <th>Representative</th>
                <th>Contact Number</th>
                <th>Business Nature</th>
                <th>Date Applied</th>
            </tr>
            <% if(certificates.length > 0){ %> 
                <% for(var i = 0; i < certificates.length; i++) { %>       
                <tr>
                    <td><%= certificates[i].owner_name %></td>
                    <td><%= certificates[i].establishment_name %></td>
                    <td><%= certificates[i].authorize_representative %></td>
                    <td><%= certificates[i].contact_number %></td>
                    <td><%= certificates[i].business_nature %></td>
                    <td>
                        <%= certificates[i].date_added.toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" }) %>
                    </td> 
                </tr>
                <% } %>
            <% }else{ %>
                <tr>
                    <td colspan="6">No available data</td>
                </tr>
            <% } %>
        </table>
        <% } %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" referrerpolicy="no-referrer"></script>
    <script>
        document.getElementById('report').addEventListener('click', function () {
            var date = new Date()
            var opt = {
                margin:       1,
                filename:     `Report.pdf`,
                image:        { type: 'png', quality: 0.98 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'cm', format: 'A4', orientation: 'portrait' }
            };
            var element = document.getElementById('main');
            html2pdf().set(opt).from(element).save();
        });
    </script>
</body>
</html>