<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Certificate &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/style.css">
  <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('../components/navbar.ejs') %>
      <%- include('../components/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Edit Member Details</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Edit Member Details</h4>
                  </div>
                  <div class="card-body p-3">
                    <form id="editUserForm" method="post" class="needs-validation">
                      <input type="hidden" name="user_id" id="user_id" value="<%= user_data._id%>">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="uname" id="uname" value="<%= user_data.username %>" required="">
                        <div class="invalid-feedback">
                          What's your username?
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Firstname</label>
                            <input type="text" class="form-control" name="fname" id="fname" value="<%= user_data.firstName%>" required="">
                            <div class="invalid-feedback">
                              What's your firstname?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Lastname</label>
                            <input type="text" class="form-control" name="lname" id="lname" value="<%= user_data.lastName%>" required="">
                            <div class="invalid-feedback">
                              What's your lastname?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>City/Province</label>
                        <input type="text" class="form-control" name="province" id="province" value="<%= user_data.province%>" required="">
                        <div class="invalid-feedback">
                          Enter member province.
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Municipality</label>
                            <input type="text" class="form-control" name="municipality" id="municipality" value="<%= user_data.municipality%>" required="">
                            <div class="invalid-feedback">
                              Enter member municipality.
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Barangay</label>
                            <input type="text" class="form-control" name="barangay" id="barangay" value="<%= user_data.barangay%>" required="">
                            <div class="invalid-feedback">
                              Enter your barangay.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" class="form-control" name="pcode" id="pcode" value="<%= user_data.postalCode%>" required="">
                        <div class="invalid-feedback">
                          Enter your postal code.
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary icon-left btn-md" style="text-transform: uppercase;">
                        <i class="far fa-edit"></i>
                        Update Member
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://permit-matalam.onrender.com/js/stisla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="https://permit-matalam.onrender.com/js/scripts.js"></script>
  <script src="https://permit-matalam.onrender.com/js/custom.js"></script>
  <script>
     $("#editUserForm").on('submit', function(e){
      e.preventDefault()

      const user_id = $("#user_id").val()
      const uname = $("#uname").val()
      const fname = $("#fname").val()
      const lname = $("#lname").val()
      const pword = $("#pword").val()
      const province = $("#province").val()
      const municipality = $("#municipality").val()
      const barangay = $("#barangay").val()
      const pcode = $("#pcode").val()

      if(uname == "" || fname == "" || lname == "" || pword == "" || province == "" || municipality == "" || barangay == "" || pcode == ""){
        Swal.fire({
              title: 'Warning!',
              text: 'All fields are required, please fill up and try again.',
              icon: 'warning',
              confirmButtonText: 'Confirm'
            });
        return;
      }

      $.ajax({
        url: 'https://permit-matalam.onrender.com/edit-user/',
        method: 'POST',
        data: {
          'user_id': user_id,
          'uname': uname,
          'fname': fname,
          'lname': lname,
          'pword': pword,
          'province': province,
          'municipality': municipality,
          'barangay': barangay,
          'pcode': pcode, 
        },
        success: function(response){
          if(response.message == 'user_updated'){
              Swal.fire({
                title: 'Horayyy!',
                text: 'You have successfully updated a user.',
                icon: 'success',
                confirmButtonText: 'Ok'
              });

            setTimeout(function(){
              window.location.href = 'https://permit-matalam.onrender.com/users'
            },3000)

          }else if(response.message == 'not_user_existed'){

            Swal.fire({
                title: 'Sorry!',
                text: 'Cannot update the user, user doest not existed',
                icon: 'warning',
                confirmButtonText: 'Ok'
              });

            return;

          }
        }
      });
    });
  </script>
  <!-- Page Specific JS File -->
</body>
</html>
