<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Certificate &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="http://localhost:8080/css/style.css">
  <link rel="stylesheet" href="http://localhost:8080/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('../components/navbar.ejs') %>
      <%- include('../components/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Edit Application Clearance</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Edit Applications Clearance</h4>
                  </div>
                  <div class="card-body p-3">
                    <form id="editClearanceForm" method="post" class="needs-validation">
                      <input type="hidden" class="form-control" name="application_id" value="<%= application_obj._id %>" id="application_id" required="">
                      <input type="hidden" class="form-control" name="application_number" value="<%= application_obj.application_number %>" id="application_number" required="">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Project Owner</label>
                            <input type="text" class="form-control" name="owner" value="<%= application_obj.project_owner %>" id="owner" required="">
                            <div class="invalid-feedback">
                              What's your project owner?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Project Title</label>
                            <input type="text" class="form-control" name="title" value="<%= application_obj.project_title %>" id="title" required="">
                            <div class="invalid-feedback">
                              What's your project title?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Project Location</label>
                        <input type="text" class="form-control" name="location" value="<%= application_obj.project_location %>" id="location" required="">
                        <div class="invalid-feedback">
                          What's your project location?
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Contact number</label>
                            <input type="text" class="form-control" name="contact_number" value="<%= application_obj.contact_number %>" id="contact_number" required="">
                            <div class="invalid-feedback">
                              What's your contact number?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="email" value="<%= application_obj.email_address %>" id="email" required="">
                            <div class="invalid-feedback">
                              What's your email address?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Owner Address</label>
                        <input type="text" class="form-control" name="address" value="<%= application_obj.owner_address %>" id="address" required="">
                        <div class="invalid-feedback">
                          Enter exact owner address.
                        </div>
                      </div>


                      <div class="form-group">
                        <label>Contructor Name</label>
                        <input type="text" class="form-control" name="contructor" value="<%= application_obj.contructor %>" id="contructor" required="">
                        <div class="invalid-feedback">
                          Enter contructor name?
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Authorize Representative</label>
                        <input type="text" class="form-control" id="representative" value="<%= application_obj.representative %>"  name="representative" required="">
                        <div class="invalid-feedback">
                          Enter your authorized representative?
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Total Floor area <small>(meter square format)</small></label>
                            <input type="text" class="form-control" name="area" id="area" value="<%= application_obj.total_floor %>" required="">
                            <div class="invalid-feedback">
                              Enter floor area?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>No. of storey area</label>
                            <input type="number" class="form-control"  value="<%= application_obj.no_of_storey %>" name="storey" id="storey" required="">
                            <div class="invalid-feedback">
                              How many storey is your establishment?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary icon-left btn-md" style="text-transform: uppercase;">
                        <i class="far fa-edit"></i>
                        Update Changes
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="http://localhost:8080/js/stisla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="http://localhost:8080/js/scripts.js"></script>
  <script src="http://localhost:8080/js/custom.js"></script>
  <script>
    $("#editClearanceForm").on('submit', function(e){
      e.preventDefault()

      const application_number = $("#application_number").val()
      const application_id = $("#application_id").val()
      const owner = $("#owner").val()
      const title = $("#title").val()
      const location = $("#location").val()
      const contact_number = $("#contact_number").val()
      const email = $("#email").val()
      const address = $("#address").val()
      const contructor = $("#contructor").val()
      const representative = $("#representative").val()
      const area = $("#area").val()
      const storey = $("#storey").val()
     

      if(owner == "" || title == "" || location == "" || email == "" || contact_number == "" || address == "" || contructor == "" || storey == ""){
        Swal.fire({
              title: 'Warning!',
              text: 'All fields are required, please fill up and try again.',
              icon: 'warning',
              confirmButtonText: 'Confirm'
            });
        return;
      }

      $.ajax({
        url: 'http://localhost:8080/edit-clearance-application/',
        method: 'POST',
        data: {
          'application_number': application_number,
          'application_id': application_id,
          'owner': owner,
          'title':title,
          'location': location,
          'contact_number': contact_number,
          'email': email,
          'address': address,
          'contructor': contructor,
          'representative': representative,
          'area': area,
          'storey': storey,
        },
        success: function(response){
          if(response.message == 'success_update_clearance'){
              Swal.fire({
                title: 'Horayyy!',
                text: 'You have successfully updated clearance application.',
                icon: 'success',
                confirmButtonText: 'Ok'
              });

            setTimeout(function(){
              window.location.href = 'http://localhost:8080/clearance-application'
            },3000)

          }else if(response.message == 'incorrect_application_number'){

            Swal.fire({
                title: 'Sorry!',
                text: 'Cannot update application, incorrect application ID.',
                icon: 'warning',
                confirmButtonText: 'Ok'
              });

            return;

          }
        }
      });
    });
  </script>
  <!-- Page Specific JS File -->
</body>
</html>
